@import "./variable.scss";
body * {
    font-family: $mainFont !important;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

::placeholder {
    color: $mainColor;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $mainColor;
}

::-ms-input-placeholder {
    color: $mainColor;
}

button {
    background: $mainColor;
    border: none;
    color: white;
    border-radius: 21px;
    font-weight: bold;
}