@import "./variable.scss";
body * {
    font - family: $mainFont !important;
}

input: focus,
textarea: focus,
button: focus {
    outline: none;
}

::placeholder {
    color: $mainColor;
    opacity: 1;
}

: -ms - input - placeholder {
    color: $mainColor;
}

:: - ms - input - placeholder {
    color: $mainColor;
}

button {
    background: $mainColor;
    border: none;
    color: white;
    border - radius: 21 px;
    font - weight: bold;
}

:: - webkit - scrollbar {
    width: 11 px;
}


/* Track */

:: - webkit - scrollbar - track {
    background: #CBA6D0;
}


/* Handle */

:: - webkit - scrollbar - thumb {
    background: #5B1A64;
}


/* Handle on hover */

:: - webkit - scrollbar - thumb: hover {
    background: #5B1A64;
}